<div class="footer">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <span class="apple-link">1690 FM 423 Suite 9205, Frisco, Texas 75033 – USA
                </span>
            </td>
        </tr>
    </table>
</div>