<%- include('head'); %>

    <body class="">
        <span class="preheader">
            <h2><i class="fad fa-users-class"></i>Magnet</h2>
        </span>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
            <tr>
                <td>&nbsp;</td>
                <td class="container">
                    <div class="content">
                        <table role="presentation" class="main">
                            <tr>
                                <td class="wrapper">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <p>Hi <b>
                                                        <%=firstName%>
                                                    </b>,</p>
                                                <p>Forgot your password? Please click on the button to reset your
                                                    password.</p>
                                                <table role="presentation" border="0" cellpadding="0" cellspacing="0"
                                                    class="btn btn-primary">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left">
                                                                <table role="presentation" border="0" cellpadding="0"
                                                                    cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td> <a href='<%=url%>'
                                                                                    target="_blank">Reset your
                                                                                    Password</a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p>If you did't forget your password, please ignore this email!
                                                    If you need any help, please don't hesitate to contact us! we
                                                    will respond you as early as
                                                    possible.</p>
                                                <p>Thank You</p>
                                                <p>The Magnet Team.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <%- include('footer'); %>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </body>

    </html>